services:
  jupyterhub:
    build: .
    container_name: jupyterhub
    user: root
    ports:
      - "8888:8000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - jupyterhub_data:/srv/jupyterhub
      - ./jupyterhub_config.py:/srv/jupyterhub/jupyterhub_config.py
    environment:
      DOCKER_JUPYTER_IMAGE: "jupyter/base-notebook:latest"
      DOCKER_NETWORK_NAME: "jupyter_default"
      HUB_IP: "jupyterhub"
    restart: unless-stopped

volumes:
  jupyterhub_data:
